body {
    background: linear-gradient(to bottom,  #1c2945 ,#06080e);
}

header {
    font-family: verdana;
    background-color: #27385E;
    margin: -8px;
    padding: 5px;
    border: solid steelblue 1px;
}

ul {
    list-style-type: none;
    margin-left: -25px;
    margin-right: 18px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-menu {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.account-menu {
    display: flex;   
}

.nav-button {
    color: #1C2945;
    background-color: #608CEB;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    border: 1px solid gray;
}

.nav-button:hover {
    text-decoration: underline;
}

.nav-search {
    display: flex; flex-flow: row; justify-content: center; align-items: center;
    color: #1C2945;
    background-color: #608CEB;
    text-decoration: none;
    text-align: center;
    padding: 9px;
    border: 1px solid gray;
}

.login-button {
    background-color: #608CEB;
    color: white;
    padding: 20px 5px;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
}

.user {
    font-size: 25px;
    margin-right: 5px;
    color: #608CEB;
    text-decoration: none;
}

.cart {
    font-size: 25px;
    margin-right: 8px;
    color: #608CEB;
    text-decoration: none;
}

footer {
    font-family: verdana;
    background-color: #27385E;
    border: solid steelblue 1px;
    padding: 10px;
    margin: -7px;
}

.footer-nav {
    display: flex;
    justify-content: space-around;
}

.footer-links {
    text-decoration: none;
    color: #608CEB;
}

.footer-links:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}

.main-game {
    margin-top: 16px;
}

.games-container {
    display: flex;
    justify-content: space-between;
}

.main-page-fig {
    width: 20%;
    background-color: #608CEB;
}

.fig-text {
    color: #27385E;
    text-align: center;
}

.sell-button {
    display: flex;
    justify-content: center;
}