

header {
    font-family: verdana;
    background-color: #27385E;
    margin: -8px;
    padding: 5px;
    border: solid steelblue 1px;
}

ul {
    list-style-type: none;
    margin-left: -25px;
    margin-right: 18px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-label {
    color: #608CEB;
}

.account-menu {
    display: flex;   
}

    
#hamburger-menu {
    float: right;
    display: none;
    }

.login-button {
    background-color: #608CEB;
    color: white;
    padding: 20px 5px;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
}

.user {
    font-size: 25px;
    margin-right: 5px;
    color: #608CEB;
    text-decoration: none;
}

.cart {
    font-size: 25px;
    margin-right: 8px;
    color: #608CEB;
    text-decoration: none;
}

footer {
    font-family: verdana;
    background-color: #27385E;
    border: solid steelblue 1px;
    padding: 10px;
    margin: -7px;
}

.footer-nav {
    display: flex;
    justify-content: space-around;
}

.footer-links {
    text-decoration: none;
    color: #608CEB;
}

.footer-links:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}

.main-game {
    margin-top: 16px;
}

.main-game-container {
    position: relative;
    text-align: center;
    color: white;
}

.main-buy-button {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.games-container {
    display: flex;
    justify-content: space-between;
}

.main-page-fig {
    background-color: #608CEB;
    width: 22%;
}

.fig-text {
    color: #27385E;
    text-align: center;
}

.sell-button {
    display: flex;
    justify-content: center;
}

/*styles to catalogue here*/

.search-tag {
    display: inline-block;
    background-color: #608CEB;
    padding: 5px;
}

.new-page-fig {
    background-color: #608CEB;
}

.new-search {
    display:  grid;
    grid-template-columns: 33% 33% 33%;
}

/*styles to catalogue*/

.header-one-catalogue {
    display: flex;
    justify-content: center;
    color: #608CEB;
}

/*styles to about*/

.about-box {
    display: grid;
    color: #608CEB;

}

/* styles to login*/

form {
    max-width: fit-content;
    margin: 0 auto;
    background: black;
    color: #608CEB;
}

.form__input {
    display: block;

}

.login-form {
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}

/*cart styles*/

.shopping-h1 {
    color: #608CEB;
    display: flex;
    justify-content: center;
}

.summary-box {
    display: grid;
    align-self: center;
    background-color: #27385E;
    max-width: 50%;
    margin: 0% 25% 20px 25%;
    grid-template-columns: 25% 25% 25% 25%;
    
}

.total-h2 {
    grid-column: 1/2;
    color: #608CEB;
    padding-left: 25px;
}

.sum-h2 {
    color: khaki;
    grid-column: 4/5;
    text-align: end;
    padding-right: 25px;
}

.cont-shop {
    grid-column: 1/2;
    color: #608CEB;
    padding-left: 25px;
    padding-bottom: 20px;
}

.conf-shop {
    color: khaki;
    grid-column: 4/5;
    text-align: end;
    padding-right: 25px;
}

/*styles to game page here*/

.game-h1 {
    color: white;
}

.game-figs {
    display: grid;
    grid-template-columns: auto auto auto;
}

#game-head {
    grid-column: 1/4;

}

.asside-fig-text {
    color: white;
    
}

.game-display {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
}

.game-section {
    grid-column: 1/4;
    grid-row: 1/4;
}

.asside-section {
    grid-column: 4/5;
    grid-row: 1/4;
}

.article-section {
    color: white;
    grid-column: 1/5;
    grid-row: 4/5;
}

/*media querries here, colours are temporary to spot changes. Change back later*/

@media only screen and (min-width:1200px) {
    body {
        background: linear-gradient(to bottom,  #1c2945 ,#06080e);
    }
    .hamburger-label {
        display: none;
    }
    
    .top-menu {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }
    .nav-button {
        color: #1C2945;
        background-color: #608CEB;
        text-decoration: none;
        text-align: center;
        padding: 10px;
        border: 1px solid gray;
    }
    
    .nav-button:hover {
        text-decoration: underline;
    }
    
    .nav-search {
        display: flex; flex-flow: row; justify-content: center; align-items: center;
        color: #1C2945;
        background-color: #608CEB;
        text-decoration: none;
        text-align: center;
        padding: 9px;
        border: 1px solid gray;
    }
    }

@media only screen and (min-width:800px) and (max-width:1199px) {
    body {
        background-color: aqua;
    }
    
    #search {
        display: none;
    }

    .top-menu {
        display: none;
    }

    #hamburger-menu:checked ~ .top-menu {
        display: block;
    }

    }

@media only screen and (min-width:480px) and (max-width:799px) {
    body {
        background-color: white;
    }

    #search {
        display: none;
    }
    
    .top-menu {
        display: none;
    }

    #hamburger-menu:checked ~ .top-menu {
        display: block;
    }

    }