* {
    box-sizing: border-box;
  }

a:link {
    text-decoration: none;
    font-weight: bold;
}
  
a:visited {
    text-decoration: none;
}

h1 {
    font-family: Nova Square, Arial, Verdana;
}

h2 {
    font-family: Arial, Verdana, sans-serif;
}

h3 {
    font-family: Verdana, sans-serif;
}

p {
    font-family: verdana, sans-serif;
}

header {
    font-family: verdana;
    background-color: #27385E;
    margin: -8px;
    padding: 5px;
    border: solid steelblue 1px;
}

ul {
    list-style-type: none;
    margin-left: -25px;
    margin-right: 18px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-label {
    color: #608CEB;
}

.account-menu {
    display: flex;   
}

i {
    color: #1C2945;
    padding-left: 4px;
}
    
#hamburger-menu {
    float: right;
    display: none;
    }

.login-button {
    background-color: #608CEB;
    color: white;
    padding: 20px 5px;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
}

.user {
    font-size: 25px;
    margin-right: 5px;
    color: #608CEB;
    text-decoration: none;
}

.cart {
    font-size: 25px;
    margin-right: 8px;
    color: #608CEB;
    text-decoration: none;
}

footer {
    font-family: verdana;
    background-color: #27385E;
    border: solid steelblue 1px;
    padding: 10px;
    margin: -7px;
}

.footer-nav {
    display: flex;
    justify-content: space-around;
}

.footer-links {
    text-decoration: none;
    color: #608CEB;
}

.footer-links:hover {
    text-decoration: underline;
}

/*style to index*/

img {
    max-width: 100%;
    height: auto;
}

.main-game {
    margin-top: 16px;
}

.main-game-container {
    position: relative;
    text-align: center;
    color: white;
}

.main-buy-button {
    position: absolute;
    bottom: 40px;
    right: 20px;
}

.buy-button-main {
    color: white;
    text-decoration: none;
    background-color: #608CEB;
    padding: 20px;
    border-radius: 50px;
}

.games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-page-fig {
    background-color: #608CEB;
    width: 20%;
}

.fig-text {
    color: #27385E;
    text-align: center;
}

.sell-button {
    display: flex;
    justify-content: center;
}

.game-h2 {
    color: #1C2945;
}

.game-p-ind {
    color: #1C2945;
}

/*styles to catalogue here*/

.search-tag {
    display: inline-block;
    background-color: #608CEB;
    padding: 5px;
    border-radius: 50px;
}

.new-page-fig {
    background-color: #608CEB;
}

.new-search {
    display:  grid;
    grid-template-columns: 33% 33% 33%;
}

.header-one-catalogue {
    display: flex;
    justify-content: center;
    color: #608CEB;
}

/* styles to login*/

.form-frame {
    max-width: fit-content;
    margin: 0 auto;
    background: black;
    color: #608CEB;
}


.form__input {
    display: block;

}

.login-form {
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}

/*account styles*/

.h1-account {
    text-align: center;
    color: white;
}

.h2-account {
    text-align: center;
    color: #608CEB;
}

.account-form {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto auto auto;
    color: white;
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10px;
}

.account-div1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.account-div2 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.account-div3 {
    grid-column: 1/2;
    grid-row: 3/4;
}
.account-div4 {
    grid-column: 1/2;
    grid-row: 4/5;
}
.account-div5 {
    grid-column: 3/4;
    grid-row: 1/2;
}
.account-div6 {
    grid-column: 3/4;
    grid-row: 2/3;
}
.account-div7 {
    grid-column: 3/4;
    grid-row: 4/5;
}


.owned-item {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    background-color: #27385E;
    max-width: 70%;
    margin: 30px 15% 30px 15%;
}

.sell-button {
    color: #608CEB;
    grid-column: 4/5;
    grid-row: 5/6;
    text-align: end;
    padding-right: 20px;
}

/*cart styles*/

.shopping-h1 {
    color: #608CEB;
    display: flex;
    justify-content: center;
}

.summary-box {
    display: grid;
    align-self: center;
    background-color: #27385E;
    max-width: 70%;
    margin: 0% 15% 20px 15%;
    grid-template-columns: auto auto auto 100px;
    grid-row: 50% 50%;
    
}

.total-h2 {
    grid-column: 1/2;
    color: #608CEB;
    padding-left: 25px;
}

.sum-h2 {
    color: #608CEB;
    grid-column: 4/5;
    text-align: end;
    padding-right: 25px;
}

.cont-shop {
    grid-column: 1/2;
    grid-row: 2/3;
    color: #608CEB;
    padding-left: 25px;
    padding-bottom: 20px;
}

.conf-shop {
    color: white;
    grid-column: 4/5;
    grid-row: 2/3;
    text-align: end;
    padding-right: 10px;
    padding-top: 4px;
    margin: 0 10px 10px 0;
    background-color: #608CEB;
    border-radius: 50px;
    font-family: verdana, sans-serif;
}

.basket-item {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    background-color: #27385E;
    max-width: 70%;
    margin: 0% 15% 20px 15%;
}

.basket-img {
    grid-column: 1/3;
    grid-row: 1/6;
}

.cart-game-name {
    color: #608CEB;
    grid-column: 3/5;
    grid-row: 2/3;
}

.cart-game-dev {
    color: #608CEB;
    grid-column: 3/5;
    grid-row: 3/4;
}

.cart-game-prize {
    color: #608CEB;
    grid-column: 5/6;
    grid-row: 5/6;
    text-align: end;
    padding-right: 20px;
}

.remove-button {
    color: #608CEB;
    grid-column: 4/6;
    grid-row: 1/2;
    text-align: end;
    padding-right: 20px;
    padding-top: 20px;
}

/*Styles to success here*/

.success-box {
    display: flex;
    min-width: 40%;
    background: #1C2945;
    margin-top: 15px;
    margin-bottom: 15px;
    flex-direction: column;
    align-items: center;
    color: #608CEB;
}

.success-confirm {
    background-color: #608CEB;
    color: #1C2945;
    text-decoration: none;
    padding: 8px;
    margin: 30px;
    border-radius: 50px;
}

/*styles to game page here*/

.game-h1 {
    color: white;
}

.game-figs {
    display: grid;
    grid-template-columns: auto auto auto;
}

#game-head {
    grid-column: 1/4;

}

.asside-fig-text {
    color: white;
    
}

.game-display {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
}

.game-section {
    grid-column: 1/4;
    grid-row: 1/4;
}

.asside-section {
    grid-column: 4/5;
    grid-row: 1/4;
}

.article-section {
    color: white;
    grid-column: 1/5;
    grid-row: 4/5;
}

.gamepage-buy-button {
    color: white;
    background-color: #608CEB;
    padding: 10px 20px;
    border-radius: 50px;
    
}

/*styles to about here*/

.about-box {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    margin-bottom: 50px;
    color: #608CEB;
}

.about-section {
    grid-column: 1/4;
    grid-row: 1/2;
    margin-top: 20px;
    margin-left: 20px;
    padding: 0px 20px;
    text-align: center;
}

.about-article {
    grid-column: 1/4;
    grid-row: 2/3;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    border: solid steelblue 1px;
}

.about-aside {
    grid-column: 4/5;
    grid-row: 1/3;
    text-align: left;
    margin-top: 20px;
    margin-right: 20px;
    padding: 5px;
}

/*media querries here, colours are temporary to spot changes. Change back later*/

@media only screen and (min-width:991px) {
    body {
        background: linear-gradient(to bottom,  #1c2945 ,#06080e);
    }
    .hamburger-label {
        display: none;
    }
    
    .top-menu {
        display: flex;
        flex-flow: row;
        justify-content: center;
        align-items: center;
    }
    .nav-button {
        color: #1C2945;
        background-color: #608CEB;
        text-decoration: none;
        text-align: center;
        padding: 10px;
        border: 1px solid gray;
    }
    
    .nav-button:hover {
        text-decoration: underline;
    }
    
    .nav-search {
        display: flex; flex-flow: row; justify-content: center; align-items: center;
        color: #1C2945;
        background-color: #608CEB;
        text-decoration: none;
        text-align: center;
        padding: 9px 5px 9px 5px;
        border: 1px solid gray;
    }

    }

@media only screen and (min-width:600px) and (max-width:990px) {
    body {
        background: linear-gradient(to bottom,  #1c2945 ,#06080e);
    }
    
    #search {
        display: none;
    }

    .top-menu {
        display: none;
    }

    #hamburger-menu:checked ~ .top-menu {
        display: block;
    }

    .nav-button {
        color: #608CEB;
    }

    .main-page-fig {
        background-color: #608CEB;
        width: 37%;
    }

    .new-search {
        display:  grid;
        grid-template-columns: auto auto;
    }
    
    /*Basket styles*/

    .basket-item {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25% 20% 10% 10%;
        background-color: #27385E;
        max-width: 70%;
        margin: 0% 15% 20px 15%;
    }

    .basket-img {
        grid-column: 1/3;
        grid-row: 1/4;
    }

    .cart-game-name {
        color: #608CEB;
        grid-column: 1/2;
        grid-row: 4/5;
        padding-left: 20px;
    }
    
    .cart-game-dev {
        color: #608CEB;
        grid-column: 1/2;
        grid-row: 5/6;
        padding-left: 20px;
    }
    
    .cart-game-prize {
        color: #608CEB;
        grid-column: 2/3;
        grid-row: 5/6;
        text-align: end;
        padding-right: 20px;
    }
    
    .remove-button {
        color: #608CEB;
        grid-column: 2/3;
        grid-row: 4/5;
        text-align: end;
        padding-right: 20px;
        padding-top: 20px;
    }

    /*Account styles*/

    .owned-item {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 25% 25% 20% 10% 10%;
        background-color: #27385E;
        max-width: 70%;
        margin: 30px 15% 30px 15%;
    }
    
    .sell-button {
        display: flex;
        color: #608CEB;
        background-color: white;
        grid-column: 2/3;
        grid-row: 5/6;
        border-radius: 50px;
        margin: 0px 60px;
        align-items: center;
        padding-left: 15px;
    }

    }

@media only screen and (min-width:360px) and (max-width:599px) {
    body {
        background: linear-gradient(to bottom,  #1c2945 ,#06080e);
    }

    #search {
        display: none;
    }
    
    .top-menu {
        display: none;
    }

    #hamburger-menu:checked ~ .top-menu {
        display: block;
    }

    .nav-button {
        color: #608CEB;
    }


    .main-buy-button {
        position: absolute;
        bottom: 20px;
        right: 10px;
    }

    .buy-button-main {
        padding: 10px;
    }

    .games-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .main-page-fig {
        background-color: #608CEB;
        width: 80%;
    }


    .new-search {
        display:  grid;
        grid-template-columns: auto;
    }
    
    /*account styles*/

    .account-form {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto auto auto auto auto;
        color: white;
        max-width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 10px;
    }
    
    .account-div1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .account-div2 {
        grid-column: 1/2;
        grid-row: 7/8;
    }
    
    .account-div3 {
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .account-div4 {
        grid-column: 1/2;
        grid-row: 5/6;
    }
    .account-div5 {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .account-div6 {
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .account-div7 {
        grid-column: 1/2;
        grid-row: 6/7;
    }

    .owned-item {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 20% 20% 20% 20% 20%;
        background-color: #27385E;
        max-width: 70%;
        margin: 30px 15% 30px 15%;
    }
    
    .sell-button {
        display: flex;
        color: #608CEB;
        background-color: white;
        grid-column: 2/3;
        grid-row: 5/6;
        border-radius: 50px;
        margin: 20px 50px;
        align-items: center;
        padding-left: 15px;
    }

    /*basket styles*/
    .basket-item {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 20% 20% 20% 20% 20%;
        background-color: #27385E;
        max-width: 70%;
        margin: 0% 15% 20px 15%;
    }

    .basket-img {
        grid-column: 1/3;
        grid-row: 1/4;
    }

    .cart-game-name {
        color: #608CEB;
        grid-column: 1/2;
        grid-row: 4/5;
        padding-left: 20px;
    }
    
    .cart-game-dev {
        color: #608CEB;
        grid-column: 1/2;
        grid-row: 5/6;
        padding-left: 20px;
    }
    
    .cart-game-prize {
        color: #608CEB;
        grid-column: 2/3;
        grid-row: 5/6;
        text-align: end;
        padding-right: 20px;
    }
    
    .remove-button {
        color: #608CEB;
        grid-column: 2/3;
        grid-row: 4/5;
        text-align: end;
        padding-right: 20px;
        padding-top: 20px;
    }
    /*game styles here*/

    .game-display {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto auto;
    }
    
    .game-section {
        grid-column: 1/5;
        grid-row: 1/3;
    }
    
    .asside-section {
        grid-column: 1/5;
        grid-row: 4/5;
    }
    
    .article-section {
        color: white;
        grid-column: 1/5;
        grid-row: 5/6;
    }

    }